.sucess_image{
    width:50%;
    height:70%;
}
.div_success_image{
    height:70%;
}
.shopping_cart {
    display: flex;
    flex-direction: column;   
}

.main_body{
    border:1px solid black;
    display:flex;
    width: 100%;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.header{
    height:5%;
    width: 100%;
    color:maroon;
}
.div_body{
    border:1px solid red;
    background-color:white;
    height:90%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:maroon;
}

.name_number{
    display:flex;
    justify-content: space-between ;
     width:84%;
     height:20px;
}
.customer_content {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.customer_content1 {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.customer_sub_content{
    width:46% ;
    height: 27px;
}
.customer_CityCountry{
    width:46% ;
    height: 27px;
}

.customer_address{
    width:90%;
}
.address_type{
    width:100%;
    display: flex;
}

.address_type_content{
    width: 85%;
}

.address_type_button{
    width: 25%;
}

.shoppingcart1_details{
    border: 1px solid silver;
    max-height:370px;
    width:99%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.shoppingcart_image{   
    border: none;
    width:17%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-top: 8%;    
}

.book_details{
    margin-top: 1%;
    min-height: 235px;
    max-height: 420px;
    overflow-y: scroll;
}

.shopped_image{
    width:105px;
    height:135px;
}

.add_ons{
    width:15%;
}

.shopped_details{
    border:1px solid black;
    border: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:53%;
}

.shopped_book_name{
    font-size: 14px;   
}

.shopped_book_author{
    font-size:70%;
    color:silver;
}

.shopped_book_price{
    font-size:80%;
    font-weight: bold;
}
.cart-item{
    height:fit-content;
    width:800px;
    padding-bottom:40px;
}

.cart-item-content1{
    display:flex;
    height:100px;
    padding-bottom:20px;
}
.order-item-content{
    display:flex;
    height:100px;
    padding-bottom:20px;
}
.book_details::-webkit-scrollbar{
    display: none;
    width: 0;
}

.cart-item-content-details{
    display:flex;
    flex-direction:column;
    padding-top:20px;
    width:60%;
    justify-content:flex-start;
    height:200px;
    padding-left:2%;
}
.order1-item-content-details{
    display:flex;
    flex-direction:column;
    padding-top:20px;
    width:60%;
    justify-content:flex-start;
    height:200px;
    padding-left:2%;
}

.customer_button{
    
    margin-Top: 3%;
    margin-bottom: 4%;
    margin-right: 5%;
    display:flex;
    padding-left: 300px;
    justify-content: flex-end;
    align-items:flex-end;
}

.shopped_item_quantity{
    display:flex;
    height:40%;
    align-items: flex-end;
    align-items: center;
}

.customer_detail{
    width:99%;
    height:auto;
    background-color: white;
    border: 1px solid silver;
}
.placeOrder_detail{
    width:99%;
    height:auto;
    background-color: white;
    border: 1px solid silver;
}
.customer_header{
    margin: 1%;
    margin-left: 2.5%;
    height:10%;
    display: flex;
    font-size:10px;    
}
.order-summary{
    min-height: 235px;
    max-height: 320px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.order-summary:hover{ 
    overflow-y: scroll;  
}

.cart_content{
    width:80%;
    background-color: white;
    padding-left: 3.5%;
}

.cart{
    
    border: 1px solid white;
    margin-top: 2%;
    min-height: 620px;
    width: 77%;
    margin-left: 11%;
    align-items: center;
    overflow-y: scroll;

}

.cart::-webkit-scrollbar{
    display: none;
    width: 0px;
}

.customer_info{
    background-color: white;
}

.customer_info_detail{
    background-color:white;
    height:98%;margin:1%;
}

.info{
    height: initial;
}
.address{
    border-color: #9b2020; 
    width:90%;

}
.customerDetailesBox{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}
.app34_footer{
    border: none;
    width: 100%;
    display:flex;
    padding-top: 4.1%;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
  }
  .admin_footer{
    background-color: #9b2020;
    display:flex;
    justify-content: space-evenly;
    align-items: center;  
  }
  
.admin1_header{
    border:1px solid green;
    border:none;
    display:flex;
    padding-left: 12%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .admin1{
    font-size: larger;
    font-weight: bold;
    align-self: center;
    margin-left: 5px;
  }
  
  
.totalPrice{
    padding-left: 3%;
    font-size: 17px;
}

.customerButton{
   display: block;
   width: 200px;
}
@media screen and (max-width:1024px){
    .address_type{
        width: 93%;
    }
    .cart{
        height: 1200px;
    }
}
@media screen and (max-width: 768px)
{
    .totalPrice{
        font-size: 20px;
    }
    .order-summary{
        margin-left: 2%;
    }
    .cart-item-content-details {
        padding-left: 3%;
    }
    .app34_footer{
        margin-top: -4%;
    }
    .book_details{
        margin-top: 1%;
        margin-left: 3%;
    }
    .shoppingcart1_details{
        margin-top: 0%;
        height:35%;
    }
    .cart{
        
        width: 94%;
        height: 890px;
     }
     .cart-item{
         width:560px;
     }
} 
@media screen and (max-width: 479px) {

    .editButton{
        margin-right: 2%;
    }
    .cart-item-content1{
        flex-direction: column;
        height: 242px;
    }
    .cart-item{
        width: 300px;
    }
    .customer_button{
        padding-left: 100px;
    }
   
    .customer_content{
        flex-direction: column;
    }
    
    .customer_address{
        height: 100px;
    }
    .order1-item-content-details{
        margin-left: 14%;
        margin-top: -4%;
    }
    
    .customer_sub_content{
        min-height: 90px;
        width: 100%;
        margin-top:3%;
       
    }
    .customerButton{
        padding-bottom: 5px;
    }
    .customer_content1 {
        flex-direction: column;
       margin-top: -30%;
        width: 90%;
    }
    .customer_content{
        margin-bottom: -50%;
    }
    .address{
        margin-bottom: -3%;
    }
    .customerDetailesBox{
        height: 900px;
    }
    .customer_detail{   
        height: auto;
    }
    .shoppingcart_image{
        padding-left:8%;
    }
    .cart-item-content1{
       margin-bottom: -50%;
    }   
    .cart-item-content-details {
       margin-left: 34%;
       margin-top: -52%;
       height:70%
    }
    .cart{
        margin-left: 2%;
        width: 110%;
    }
    .address_type_content{
        width: 70%;
        margin-top: -53%;
    }
    .order-summary {
        min-height: 160px;
        max-height: 250px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .totalPrice{
        margin-right: -5%;
        font-size: 15px;
    }
    .buttonName{
        width: 40%;
    }
}

@media screen and (max-width: 360px)
{
    .cart-item{
        width: 284px;
    }

    .editButton{
        margin-right: 2%;
    }
    .order1-item-content-details{
        margin-left: 14%;
        margin-top: -4%;
    }
    .customer_sub_content{
        min-height: 90px;
        width: 100%;
        margin-top:3%;  
    }
    .customerButton{
        padding-bottom: 5px;
    }
    .customer_content1 {
        flex-direction: column;
       margin-top: -30%;
        width: 90%;
    }
    .customer_content{
        margin-bottom: -50%;
    }
    .address{
        margin-bottom: -3%;
    }
    .customerDetailesBox{
        height: 900px;
    }
    .customer_detail{  
        height: auto;
    }
    .shoppingcart_image{
        padding-left:8%;
    }
    .cart-item-content1{
       margin-bottom: -50%;
    }
    .cart-item-content-details {
       margin-left: 34%;
       margin-top: -52%;
       height:70%
    }
    .cart{
        margin-left: 2%;
        width: 110%;
    }
    .address_type_content{
        width: 70%;
        margin-top: -53%;
    }
    .order-summary {
        min-height: 160px;
        max-height: 250px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .totalPrice{
        margin-right: -5%;
        font-size: 15px;
    }
    .buttonName{
        width: 40%;
    }
}


@media screen and (max-width: 320px)
{
    .cart-item-content-details {
        margin-left: 35%;
        margin-top: -57%;
        height:70%
     }
    .cart-item{
        width: 270px;
    }
}