#app-header {
    border:1px solid greenyellow;
    border:none;
    position: sticky;
    top:0;
    background-color: #9b2020 !important;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  
  .admin_header{
    border:1px solid green;
    border:none;
    display:flex;
    width:20%;
    padding-left: 12%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .admin{
    font-size: larger;
    font-weight: bold;
    align-self: center;
    margin-left: 5px;
  }
  
  .bk_image{
    width:40px;
    height:40px;
  }
  
  .header{
      display: flex;
      justify-content: center;
  }
  
  .header_content{
      height:70px;
      width:24%;
      color: black;
      text-align: center;
  }
  
  .password{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:99.8%;
      height:550px;
  }
  
  .forget{
      width:100%;
      height:30px;
  }
  
  .forget_password{
      border:1px solid #e4e4e4;
      display:flex;
      padding-top: 2%;
      flex-direction:column;
      align-items: center;
      background-color:white;
      width:30%;
      min-height:220px;
  }
  
  .forget_content {
      width:70%;
      height:80px;
  }
  
  .forget_message{
      border:1px solid green;
      border:none;
      font-size:15px;
      width:70%;
      height:60px;
      color:#878787;
  }
  
  #forget_button{
      width:100%;
      font-size:15px;
      background-color:maroon;
      color:white;
      padding:10px 70px;
  }
  
  .create_account{
      background-color: #f9f9f9;
      display:flex;
      justify-content: center;
      align-items: center;
      width:30%;
      height:100px;
  }
  
  #anchor{
      color: black;
      font-size: 15px;
      font-weight: bold;
  }
  
  #anchor :hover{
      color: black;
  }
  
  .reset_content {
      width:70%;
      height:80px;
  }
  
  .reset_message{
      width:70%;
      height:40px;
  }
  
  .reset_password{
      border:1px solid #e4e4e4;
      display:flex;
      flex-direction:column;
      padding-top: 2%;
      align-items: center;
      background-color:white;
      width:30%;
      height:270px;
  }
  
  #reset_button{
      width:100%;
      font-size:15px;
      background-color:maroon;
      color:white;
      padding:10px 50px;
  }