
#app-header {
  border:1px solid greenyellow;
  border:none;
  position: sticky;
  top:0;
  background-color: #9b2020 !important;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  color: white;
}

.admin1_header{
  border:1px solid green;
  border:none;
  display:flex;
  padding-left: 12%;
  justify-content: flex-start;
  align-items: center;
}

.admin1{
  font-size: larger;
  font-weight: bold;
  align-self: center;
  margin-left: 5px;
}
.OrderBox{
  display: flex;
  width:100%;
  background-color:rgb(136, 119, 119);

}
.MainClass{
  display: flex;
  flex-direction: column;
   padding-bottom: 2%;
  padding-left: 3%;
  margin-top: 2.8%;
  margin-left: 14%;
  width:65%;
  }
.Myorder-summary{
  display: flex;
  flex-direction: column;
  border: black;
  background-color: white;
  border: 1px solid silver;
 margin-left: -8%;
  min-height: 254px;
  max-height: 320px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.MyOrder-details{
  display:flex;
  flex-direction:column;
  padding-top:25px;
  margin-left: 2%;
  width:30%;
  justify-content:flex-start;
  height:200px;
  padding-left:2%;
  
}

.orderDate{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-left: 10%;
}

.myorder_book_name{
  font-size: 16px; 
}

.myorder_book_author{
  font-size:70%;
  color:silver;
}

.myorder_book_price{
  font-size:80%;
  font-weight: bold;
}
.cart-item-content{
  display:flex;
  padding-bottom:20px;
}
.shop_image{
  border: none;
  width:23%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-top: 8%;
  
}
.myorder-item{
  height:fit-content;
  width:800px;
  margin-top: 3%;
  padding-bottom:40px;
}
.Myorder-summary:hover{
  overflow-y: scroll;  
}

.cart_content{
  width:80%;
  background-color: white;
  padding-left: 3.5%;
}

.orderTitle{
  margin-left: 12%;
 
}
.date{
  margin-top: 4px;
}


.appOrder_footer{
  border: none;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.admin_footer{
  background-color: #9b2020;
  display:flex;
  justify-content: space-evenly;
  align-items: center;  
}

@media screen and (max-width:1024px) and (max-height:1360px){
  .shoppingcart_details{
      margin-top: 10%;
      height:15%;
  }
  .appOrder_footer{
   
    position: fixed;
    left: 0;
    bottom: 0;
  }
  

  
}

@media screen and (max-width:1366px) and (max-height:1024px){
  .shoppingcart_details{
      margin-top: 0%;
      height:25%;
  }
  .appOrder_footer{
   
    position: fixed;
    left: 0;
    bottom: 0;
  }
}


@media screen and (max-width:768px) and (max-height:1024px){
  .shoppingcart_details{
      margin-top: 7%;
      height:20%;
  }
 
  .appOrder_footer{
   
    position: fixed;
    left: 0;
    bottom: 0;
  }
  
}

@media screen and (max-width:411px){
  .orderTitle {
    margin-left: 7%;
}

  .Myorder-summary{
    width: 100%;
    margin-left: -1.3%;
    margin-top: 6%;
  }
  
  .cart-item-content {
    margin-left: 5%;
    flex-direction: column;
    height: 242px;
  }
    .shop_image{
        width:12%;
        margin-left: -3%;
        margin-top: -1%;
    }
    .MyOrder-details {
      margin-left: 13%;
      margin-top: -20%;
      font-size: 80%;
  }
  .myorder_book_name{
    font-size: 17px;
    width:80% 
  }
  
  
  .myorder-item{
    height:fit-content;
    margin-top: 2%;
    margin-bottom: -9%;
    margin-bottom: -20%;
  }
  
    .orderDate{
      justify-content: center;
      margin-left: 3%;
      font-size: 90%;
      margin-top: -38%;
    }
    .date{
      margin-top: -4.7%;
      margin-left: 16%;
    }
    .MainClass{
      display: flex;
      flex-direction: column;
      width:90%;   
      margin-top: 7%;
      margin-left: 3%;
    }

    .appOrder_footer{
      margin-top: 53.3%;
    }
    .appOrder_footer{
   
      position: fixed;
      left: 0;
      bottom: 0;
    }
}

@media screen and (max-width:475px) and (max-height:736px){
  .orderTitle {
    margin-left: 7%;
}

  .Myorder-summary{
    width: 100%;
    margin-left: -1.3%;
    margin-top: 6%;
  }
  
  .cart-item-content {
    margin-left: 5%;
    flex-direction: column;
    height: 242px;
  }
    .shop_image{
        width:12%;
        margin-left: -3%;
        margin-top: -1%;
    }
    .MyOrder-details {
      margin-left: 13%;
      margin-top: -20%;
      font-size: 80%;
  }
  .myorder_book_name{
    font-size: 17px;
    width:80% 
  }
  
  
  .myorder-item{
    height:fit-content;
    margin-top: 2%;
    margin-bottom: -9%;
    margin-bottom: -20%;
  }
  
    .orderDate{
      justify-content: center;
      margin-left: 3%;
      font-size: 90%;
      margin-top: -35%;
    }
    .date{
      margin-top: -4.7%;
      margin-left: 16%;
    }
    .MainClass{
      display: flex;
      flex-direction: column;
      width:90%;   
      margin-top: 7%;
      margin-left: 3%;
    }

    .appOrder_footer{
      margin-top: 30.7%;
    }
    .appOrder_footer{
   
      position: fixed;
      left: 0;
      bottom: 0;
    }
}

@media screen and (max-width:360px) and (max-height:640px){
  .orderTitle {
    margin-left: 7%;
}
.Myorder-summary{
  width: 100%;
  margin-left: 0%;
}

.cart-item-content {
  margin-left: 5%;
  flex-direction: column;
  height: 242px;
}
  .shop_image{
      width:12%;
      margin-left: -3%;
      margin-top: -1%;
  }
  .MyOrder-details {
    margin-left: 13%;
    margin-top: -20%;
    font-size: 80%;
}
.myorder_book_name{
  font-size: 17px;
  width:60% 
}


.myorder-item{
  height:fit-content;
  margin-top: 2%;
  margin-bottom: -30%;
}

  .orderDate{
    justify-content: center;
    margin-left: 1%;
    font-size: 80%;
    margin-top: -36%;
  }
  .date{
    margin-top: -4.3%;
    margin-left: 15%;
  }
  .MainClass{
    display: flex;
    flex-direction: column;
    width:90%;   
    margin-top: 7%;
    margin-left: 3%;
  }
  .appOrder_footer{
   
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
