.mainformorder{
    min-height: 82.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.successfulimage{
    width: 25%;
}
.messageorder{
    font-size: 18px;
    text-align: center;
}

.app_header {
    border:1px solid greenyellow;
    border:none;
    position: sticky;
    top:0;
    background-color: #9b2020;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  
  .admin_header{
    border:1px solid green;
    border:none;
    display:flex;
    width:20%;
    padding-left: 12%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .admin{
    font-size: larger;
    font-weight: bold;
    align-self: center;
    margin-left: 5px;
  }
  
  .app_footer{
    border: none;
    width: 100%;
    display:flex;
    padding-top: 12px;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
  }
  
  .admin_footer{
    background-color: #9b2020;
    display:flex;
    justify-content: space-evenly;
    align-items: center;  
  }

#btn{
    background-color: #9b2020;
    color: white;
    width: 16%;
    padding:1%
}

.firstLine{
    line-height:1px;
}

.secondLine{
    margin-left: 2%;
}

table {
    border-collapse: collapse;
    width: 55%;

    border:3.5px solid #e6e6e6;
}

td{
    border:3.5px solid #e6e6e6;
    background-color: #fff;
    padding-bottom: 20px;
    padding-left:8px;
    padding-right:8px;
    padding-top: 5px;

}

.email{
    width:100px;
    vertical-align: text-top;
    text-align: center;
    
}

#address{
    width:100px;
    padding-left: 19px;
    text-align: center;
    
}
.address-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    margin-left: 19px;
}

#number{
    width: 142px;
    vertical-align: text-top;
    text-align: center;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e6e6e6;
}


@media only screen and (max-width: 500px) {

    .mainform{
        min-height: 137vh;
    }

    .successfulimage{
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
    }

    .firstLine{
        margin-left: 3%;
        font-size: 14px;
    }

    .secondLine{
        margin-left: -10%;
        font-size: 14px;
    }


    #btn{
        background-color: rgb(165,42,42);
        color: white;
        margin-left: 40%;
        margin-top: 2%;
        width: 25%;
        padding: 1%;
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 750px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .mainform{
        min-height: 94.5vh;
    }

    .successfulimage{
        width: 60%;
        margin-left: 22%;
        margin-top: 10%;
    }

    .firstLine{
        margin-left: -7%;
        font-size: 36px;
    }

    .secondLine{
        margin-left: -10%;
        font-size: 36px;
    }


    #btn{
        background-color: rgb(165,42,42);
        color: white;
        margin-left: 35%;
        margin-top: 2%;
        width: 35%;
        padding: 1%;
        font-size: 20px;
    }

}

@media only screen and (min-device-width: 1020px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
    .maincard {
        width: 70%;
    }

    .firstLine{
        margin-left: 1%;
        font-size: 40px;
    }

    .secondLine{
        margin-left: -12%;
        font-size: 40px;
    }

    table {
       width: 0%;
       margin-left: 10%;
       border:1px black solid;
    }

    td{
       padding: 3%;
       border:1px black solid;
       background-color: #fff;
    }

    th {
       background-color: #e6e6e6;
       color: black;
       padding: 3%;
       font-size: 32px;
    }

    #btn{
        background-color: rgb(165,42,42);
        color: white;
        margin-left: 35%;
        margin-top: 2%;
        width: 35%;
        padding: 2%;
        font-size: 28px;
    }

}