.div_content{
  display: flex;
  flex-wrap: wrap;
}

.pagination {
    margin: 0px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: maroon ;
    border-color: maroon ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid maroon ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: maroon ;
    border-color: maroon;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: maroon
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }