.showProfile{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 190px;
    height: 150px;
    margin-top: 4px;
    padding-left: -3px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    opacity: 1;
    
  }

  .main-dialog{
    background-color: transparent !important;
  }

  .body{
    padding-right: 0px !important;
    overflow: hidden;
}

  .profileContaint{
    display: flex;
    margin-left: 8%;
    flex-direction: column;
    color: black;
  }

.MuiPaper-elevation24 {
    box-shadow: none !important;
    background-color: transparent !important;
}

  .dialog-content{
    background-color: transparent !important;
  }

  .dialogBox{
    display:flex;
    height: 476px;
    margin-left: 0%;
    justify-content: center;
  }
.pageSet{
  width:700px;
  height: 370px;
  margin-top: 5%;
  justify-content: center;
}
.MuiDialog-paperHeightSm {
  width: 800px;
   height: 600px; 
}
.dialog-box{
display:flex;
width:100%;
height: 100%;
margin-left: 25%;
margin-top: 10%;
justify-content: center;
}

  @media screen and (Width:563px) and  (min-height:487)  {
 
    .page{
        margin-top:0%;
        margin-left: 0%;
    }
  
  } 
  