.showProfile{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width:210px;
    height:100px;
    padding-left: -3px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    opacity: 1;
    
  }
  .profileContaint{
    display: flex;
    margin-left: 8%;
    flex-direction: column;
    color: black;
  }
  .dialogBox{
    display:flex;
    width:750px;
    height: 476px;
    margin-left: 0%;
    /* background-color:rgba(63, 61, 61, 0.212); */
    justify-content: center;
    
    /* width: 100%; */
  }
.pageSet{
  width:700px;
  height: 370px;
  margin-top: 5%;
  justify-content: center;
}
.MuiDialog-paperHeightSm {
  width: 800px;
   height: 600px; 
}
.dialog-box{
/* top: 0px; */
/* left: 0px; */
/* width: 1366px; */
/* height: 768px; */
/* background: #000000 0% 0% no-repeat padding-box;
opacity: 0.31 */
display:flex;
/* background-color: hotpink; */
width:100%;
height: 100%;
margin-left: 25%;
margin-top: 10%;
justify-content: center;
}

  @media screen and (Width:563px) and  (min-height:487)  {
 
    .page{
        margin-top:0%;
        margin-left: 0%;
    }
  
  } 
  