
#app-header {
    border:1px solid greenyellow;
    border:none;
    position: sticky;
    top:0;
    background-color: #9b2020 !important;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    color: white;
  }
  
  .admin1_header{
    border:1px solid green;
    border:none;
    display:flex;
    padding-left: 12%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .admin1{
    font-size: larger;
    font-weight: bold;
    align-self: center;
    margin-left: 5px;
  }

  
  .app1_footer{
    border: none;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    position: fixed;
   left: 0;
   bottom: 0;
    
  }
  
  .admin_footer{
    background-color: #9b2020;
    display:flex;
    justify-content: space-evenly;
    align-items: center;  
  }
.tick_image{
  
    width:130px;
    height:131px;
}
.tick{
    display: flex;
    height: 100px;
    width: 100%;
    margin-left: 8%;
}
.Maintick{
    display: flex;
      justify-content: center;
       
}
  .verifyEmail{
      display: flex;
      justify-content: center;
      height: 200px;
      flex-direction: column;
      width:50%;
      margin-left:37% ;
      margin-top: 10%;     
  }
  .loginButton{
      display: flex;
    margin-top: 12%;
  }